
body{

    background-image: url("./pics/background.jpg");
	
}

#container{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
     justify-content:center;

}

#calendar{
    justify-content:center;
    background-color:white;
    height: 525px;
    padding: 15px 15px 0px 15px;
    border-radius: 15px;
}

tr{
    width: 700px;
    height: 50px;
}
#mainTable{
    width: 900px;
    border: 1px solid black;
    border-collapse:separate;
    border-radius:3px;
}

#nextMonth, #previousMonth{
    font-size:50px;
    color:rgb(76, 76, 240);
    font-weight: bold;
    margin-right:30px;
    margin-left:30px;
}

#nextMonth:hover, #previousMonth:hover {
    cursor: pointer;
    color:rgb(132, 151, 247);
}

h1{
    color: white;
    text-align: center;
    font-family: 'Norican', cursive;
    font-size: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 10px;
}
h3{
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size:25px;
    padding-bottom: 5px;
    margin-top:7px;

}


#head-control{
    width: 200px;
}

#control-panel{
    display:flex;
    justify-content:center;
    
}

.calendar-week{
    background-color: rgb(226, 55, 33);
    color:white;
    font-family: 'Quicksand', sans-serif;
    height: 25px;
}



.calendar-day{
    border-radius:3px;
    border: 1px solid black;
    width:100px;
    height: 60px;
    
}
.calendar-day:hover{
    background-color: rgb(224, 245, 252);

}

.calendar-day-np{
    background-color: rgb(236, 232, 232);
    border: 1px solid black;
    width: 100px;
    height: 60px;
    
}


.day-number{
    position: relative;
    float: right;
    margin-right:5px;
    margin-bottom:33px;
    font-size:13px;
}

#menu{
    float:left;
    color:white;
    font-family: 'Quicksand', sans-serif;
    margin-left: 30px;
    margin-top: 25px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    display: none;
}

ul span {
    color: #ffffff;
    text-decoration: none;
    display: block;
	cursor:pointer;

}

ul > li {
    background-color: #c034348e;
    border-top: 1px dashed white;
    height: 40px;
    text-align:center;
    padding-top: 10px;
    width: 160px;
    border-radius:3px;
}
ul > li:hover{
    background-color: #af1111fa;
}

#menuButton{
    background-color: rgb(179, 44, 26);
    border-radius:3px;
    border: 1px solid white;
    width:160px;
    height: 45px;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

#menuButton:hover{
    background-color: rgb(168, 42, 25);
    cursor: pointer;
 
}

.day-event{
    background-color: rgba(104, 177, 8, 0.541);
    float:left;
    border-radius:3px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    padding: 2px;
    margin: 1px;
}
.day-event:hover .detailBlock{
    cursor: pointer;
    visibility: visible;
}

.detailBlock{
    visibility: hidden;
    
    background-color: rgba(26, 125, 190, 0.541);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 13px;
    white-space: pre;
    text-align: left;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}



form{

	background-color:#0099FF;
	border-radius:5px;
	opacity:0.8;
	padding: 0px 5px 5px 5px;
}
form > h4{
	margin-top:10px;
	text-align:center;
	font-size: 20px;
	float:left;
	margin-left:10px;
}

input[type=submit]{
	width:150px;
	padding:3px;
	margin-left:50px;
	border-radius:5px;
	cursor:pointer;
	background-color:#e60000;
	opacity:1;
	color:white;
	float:left;

}
input[type=text],
input[type=date],
input[type=time]{
width:130px;
float:right;
}


form > button{
	margin-top:10px;
	width:100px;
	padding:3px;
	border-radius:5px;
	cursor:pointer;
	background-color:#e60000;
	opacity:1;
	color:white;
	float:right;

}

#formMeeting{
	display:none;
	position: absolute;
}
#formTask{
	display:none;
	position: absolute;
}
#deleteEvent{
	display:none;
	padding-top:3px;
}

.quitCreating{
	width:50px;
	margin-top:0px;
}










