#container
{
	width:auto;

}
#panel
{
	border: 1px solid silver;
	width: 400px;
	margin: 0 auto;
	font: 16px calibri;
	letter-spacing: -1px;
	margin-top: 100px;
	-webkit-box-shadow: 0 0 2px silver;
	-moz-box-shadow: 0 0 2px silver;
	box-shadow: 0 0 2px silver;
	border-radius:3px;
}

#top
{
	float: right;
	padding: 5px 5px;
}

#mid
{
	padding: 10px 5px;
}

form
{
	padding: 10px;

}

[type=username], [type=password]
{
	width: 360px;
	border: 1px solid silver;
	margin: 0 auto;
	padding: 10px 5px;
	border: 1px solid silver;
	border-radius:3px;
	display: block;


}

#back
{
	border-radius:3px;
	width: 100%;
	padding: 3px 5px;
	border: 1px solid #005f85;
	color: white;
	text-shadow: 0 0 1px black;
	background: #98c9dc;
	position: relative;

}


[type=submit]
{
	border-radius:3px;
	width: 100%;
	padding: 10px 0px;
	border: 1px solid #005f85;
	color: white;
	text-shadow: 0 0 1px black;
	background: #98c9dc;
	position: relative;

}
